<button><a href="/api/token/login">Login</a></button>

<button><a href="/api/token/register">Register</a></button>

<P>Welcome to our API, Here you can justify your text, first of all you have to
  create an account, then you can login and justify your text until 80000 words
  by 24h
</P>