<form action="/api/justify" method="POST" enctype="text/plain">
  <label for="body">Justify your text here</label>
  <input type="text" id="body" name="body" />
  <input type="submit" value="justify" />
</form>